body{
    background-color: rgb(237, 210, 175);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.imagen1{
    border:  solid rgb(255, 255, 255);;
}
.imagen2{
    border: solid rgb(237, 210, 175);
}
.row{
    background-color: rgb(31, 82, 84);
}